
<ng-progress></ng-progress>

<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="scrollbar" id="style-1">
    <div class="force-overflow">
        <div class="container-fluid">
            <input ngModel required name="x" type="text" class="btn m-2" placeholder="Enter the X coordinates separated by ' , '(No Spaces) " style="background-color: white; width: 100%">
            <input ngModel required name="y" type="text" class="btn m-2" placeholder="Enter the Y coordinates separated by ' , '(No Spaces) " style="background-color: white; width: 100%">
            <span class="m-2" style="font-size: x-large;">
              <hr style="background-color: white">
              Advanced Options (Optional) :
            </span><br><br>

              <div class="row">
                <div class="col">
                  <input ngModel name="xlabel" type="text" class="form-control" placeholder="X axis Label" style="background-color: transparent">
                </div>
                <div class="col">
                  <input ngModel name="ylabel" type="text" class="form-control" placeholder="Y axis Label" style="background-color: transparent">
                </div>
                <div class="col">
                  <input ngModel name="gname" type="text" class="form-control" placeholder="Graph Name" style="background-color: transparent">
                </div>
              </div>

            Line Color : <input
            class="btn m-2"
            style="border-color: white"
            [(ngModel)]="color"
              type="text"
              name="color"
              [style.background]="color"
              [cpOutputFormat]="'hex'"
              [(colorPicker)]="color"/><br>
            Line Width : <input ngModel type="number" value="1" class="btn m-2" style="border-color: white; color: white;" name="lwidth">X (Default : 1X)<br>

            Line Opacity :<br><br>
            <div class="slidecontainer">
              <input type="range" min="0" max="100" class="slider" id="myRange" name="opacity" ngModel>
            </div>
            <br>

            Line Style :
            <!-- Default inline 1-->
      <div class="custom-control custom-radio custom-control-inline">
        <input ngModel value=":" type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
        <label class="custom-control-label" for="defaultInline1">. . . . </label>
      </div>

      <!-- Default inline 2-->
      <div class="custom-control custom-radio custom-control-inline">
        <input ngModel value="-." type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
        <label class="custom-control-label" for="defaultInline2">_ . _ .</label>
      </div>

      <!-- Default inline 3-->
      <div class="custom-control custom-radio custom-control-inline">
        <input ngModel value="--" type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample">
        <label class="custom-control-label" for="defaultInline3">- - - - </label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input ngModel value="steps" type="radio" class="custom-control-input" id="defaultInline4" name="inlineDefaultRadiosExample">
        <label class="custom-control-label" for="defaultInline4">steps </label>
      </div><br><br>
      <hr style="background-color: white">
      <span class="m-2" style="font-size: x-large;">
        Marker Options (Optional) :
      </span><br><br>
      <div class="form-group">
        <select ngModel name="marker" id="inputState" class="form-control" style="background-color: transparent; color: white;">
          <option selected value="">Marker Type</option>
          <option value=".">. (point)</option>
          <option value=",">, (pixel)</option>
          <option value="o">o (circle)</option>
          <option value="v">v (Triangle down)</option>
          <option value="^">^ (Triangle up)</option>
          <option value="<">< (Triangle left)</option>
          <option value=">">> (Triangle right)</option>
          <option value="+">+ (Plus)</option>
          <option value="*">* (Star)</option>
          <option value="s">  (Square)</option>
          <option value="|">| (Vertical Line)</option>
          <option value="_">- (Horizontal Line)</option>
        </select>
      </div>
      Marker Color : <input
            class="btn m-2"
            style="border-color: white"
            [(ngModel)]="marcolor"
              type="text"
              name="marcolor"
              [style.background]="marcolor"
              [cpOutputFormat]="'hex'"
              [(colorPicker)]="marcolor"/><br>
      Marker Size : <input ngModel type="number" value="10" class="btn m-2" style="border-color: white; color: white;" name="mwidth"> (Default : 10)<br>
      <br><br>
      <hr style="background-color: white">
      <span class="m-2" style="font-size: x-large;">
        Image Quality (Optional , Default : 480P) :
      </span><br><br>
      <div class="form-group">
          <select ngModel name="quality" id="inputState" class="form-control" style="background-color: transparent; color: white;">
              <option selected value="100">480P</option>
            <option value="160">720P</option>
            <option value="300">1080P</option>
            <option value="600">4K</option>
            <option value="1200">8K</option>
          </select>
        </div>
            <br>
            <button class="btn btn-danger m-2">Get graph</button>
          </div>
    </div>
</form>
