<div class="main-page-1 row container-fluid">
  <div class="col-lg-12">
    Graphing
  </div>
</div>
<div class="main-page-2 row container-fluid">
  <div class="col-lg-6"></div>
  <div class="col-lg-4">
    Made
  </div>
</div>
<div class="main-page-3 row container-fluid">
  <div class="col-lg-4"></div>
  <div class="col-lg-6">
    Easier
  </div>
</div>

    <div class="row" style="margin-top: 10%;">
      <div class="col-lg-12">
          <i class="fas fa-arrow-circle-left" style="font-size: x-large"></i> Select a graph type to get started
      </div>
    </div>
